.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}


.bg-green{
    background-color: green;
}


.bg-blue{
    background-color: blue;
}

.text-blue{
    color:#110a3e;
}

.btn-blue{
    background-color:  #110a3e !important;
    color: azure !important;
    border-color: #8b8997 !important;
}

.btn-blue:hover{
    background-color: #1d116b !important;
    color:azure !important;
}

.bg-white-50{
    background-color: rgba(255, 255, 255, 0.6);
}
.w-50{
    width: 50%;
}

.h-200{
    height: 200px;
}

.position{
    position: absolute;
    top: 25%;
    left: 25%;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.link{
    text-decoration: none;
    color: #8b8997 !important;
}
